body{ 
    color: white;
    background-color: #141414;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}



.header{ 
    background-color: black;
    z-index: 99;
}
.header .nav .nav-item .nav-link{ 
color: white;



}
.header i{ 
    padding-right: 20px;
    font-size: 20px;
}
.header img{ 
    padding-right: 20px;
    padding-left: 10px;
}
.header .text{ 
padding-right: 20px;
}
.mice{ 
    margin-top: 25px;
}
.mice .splide .splide__slide .thumbnail-card img{ 
    padding:5px 10px;
   
}

.mice h4{ 
    margin-left: 15px;
}
.mice .splide .splide__slide .thumbnail-card{ 
    position: relative;
    transform: scale(1);
    transition: transform .3s ease;
    z-index: 1;
    overflow: hidden;
border-radius: 15px;
}
.splide .splide__slide.first .thumbnail-card{
transform-origin:  left center;
}
.splide .splide__slide.last .thumbnail-card{
transform-origin:  right center;
}
.mice .splide .splide__slide .thumbnail-card:hover{ 
    position: absolute;
    transform: scale(1.4);
    z-index:99;
    cursor: pointer;
    
}
.splide__track{ 
   padding-top: 38px;
   padding-bottom: 38px;
   margin-top: -38px;
   margin-bottom: -38px;
 

 
}
.footer{ 
    margin-top: 50px;
}
.footer i{ 
    font-size: 30px;
   padding-left: 8px;
   padding-right: 8px;
}
@media screen and(max-width:768px){
    .splide__track{ 
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
      
     
      
     }
     .mice .splide .splide__slide .thumbnail-card img{ 
        padding:0px 0px;
       
    }
   
}
.footer .links ul > li { 
list-style: none;



}
.footer .links ul > li > a{ 
    color:gray;
}
.footer .links{ 
margin-top:20px;

}